.icon-data {
    border: 2px solid;
    border-radius: 50px;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#ffc107;
}

.pencil-icon {
    font-size: 30px;
    color:#ffc107;
}

.text-personal-data {
    margin-top: 20px;
}

.form-container {
    margin-top: 100px;
}

.placeholder-input::placeholder {
    color: rgb(186, 178, 178);
}

.btn-dark {
    background-color: #ffc107;
    color: black;
}


.role-select {
    margin-bottom: 30px;
}


.snackbar-success {
    background-color: #ffb900; 
    color: #212529;
  }
  
  .snackbar-error {
    background-color: #212529; 
    color: #ffffff; 
  }
  