<div class="container">
  <hr />
  <div
    class="title d-flex align-items-center justify-content-center fs-5 fw-bold"
  >
    <div class="d-flex align-items-center justify-content-center "></div>
    {{ "Mostra Classe" | uppercase }}
    <span class="icon"><i class="bi bi-person-vcard"></i> </span>
  </div>
  <hr class="mb-5"/>
  <div class="d-flex align-items-center justify-content-center flex-column">
    <h3>Lista Insegnanti</h3>
    <table class="table table-teachers mb-5">
      <thead class="text-center">
        <tr>
          <th scope="col">Dati Anagrafici</th>
          <th scope="col">Materia</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Nome Cognome</td>
          <td>Matematica</td>
        </tr>
        <tr>
          <td>Nome Cognome</td>
          <td>Inglese</td>
        </tr>
      </tbody>
    </table>
  </div>
  <h3 class="text-center">Lista Alunni</h3>
  <div class="d-flex align-items-center justify-content-center">
    <table class="table table-students">
      <thead class="text-center">
        <tr>
          <th>Nome</th>
          <th>Cognome</th>
          <th>Data di Nascita</th>
          <th>Azioni</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Example</td>
          <td>Example</td>
          <td>Example</td>
          <td>
            <button class="btn btn-delete"  data-bs-toggle="modal" data-bs-target="#exampleModal">
              Elimina<i class="bi bi-trash3-fill px-1"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal delete -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Sei sicuro?</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          Una volta eliminato, non potrai tornare indietro!
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Chiudi
          </button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Elimina
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
