<div class="container">
<h2 class="mt-2 mb-5">Mostra Classe</h2>
<div
  class=" d-flex align-items-center justify-content-center "
>
  <table class="w-100">
    <thead class="text-center">
      <tr>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Data di Nascita</th>
        <th>Altro</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Example</td>
        <td>Example</td>
        <td>Example</td>
        <td>Example</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
