<div class="container">
  <hr>
  <div class=" title d-flex align-items-center justify-content-center fs-5 fw-bold">
    <div class="d-flex align-items-center justify-content-center"></div>
    {{'Gestione delle classi' | uppercase}}
    <span class="icon"><i class="bi bi-person-vcard"></i>
    </span>
  </div>
  <hr>
  <div class="container d-flex justify-content-end mt-4">
    <div class="classes-header">
      <div class="input-container">
        <span>Cerca: </span>
        <input type="text" name="" id="" placeholder="Scrivi per cercare..." />
        <i class="bi bi-search"></i>
      </div>
    </div>  
</div>
  

<table class="w-100 table table-hover mt-4">
  <thead class="text-center" >
    <tr class="fw-bold">
      <th>#</th>
      <th>Classe</th>
      <th>N° Studenti</th>
      <th>Azioni</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>example</td>
      <td>example</td>
      <td>       
        <button class="btn " value="dettagli"  [routerLink]="['/classes/:id']">Visualizza<i class="bi bi-eye-fill px-1"></i></button>
      </td>
    </tr>
  </tbody>
</table>

<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center mt-5">
    <li class="page-item">
      <a class="page-link text-black fw-bold" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link text-black" href="#">1</a></li>
    <li class="page-item"><a class="page-link text-black" href="#">2</a></li>
    <li class="page-item"><a class="page-link text-black" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link text-black fw-bold" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
  </nav>

  <!-- Modal delete -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Sei sicuro?</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          Una volta eliminato, non potrai tornare indietro!
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Chiudi
          </button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Elimina
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal edit -->
  <div
    class="modal fade"
    id="exampleModal2"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form
            [formGroup]="editForm"
            (ngSubmit)="onEditSubmit()"
            class="d-flex justify-content-center"
          >
            <div class="d-flex">
              <div class="d-flex flex-column">
                <label>Nome: </label
                ><input formControlName="name" type="text" />
                <p
                  class="text-danger"
                  *ngIf="
                    !editForm.get('name')!.valid &&
                    editForm.get('name')!.touched
                  "
                >
                  Inserisci un nome
                </p>
              </div>
              <div class="d-flex flex-column">
                <label>Tipo di classe: </label
                ><input formControlName="classType" type="text" />
                <p
                  class="text-danger"
                  *ngIf="
                    !editForm.get('classType')!.valid &&
                    editForm.get('classType')!.touched
                  "
                >
                  Inserisci una classe
                </p>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Chiudi
          </button>
          <button
            [disabled]="!editForm.valid"
            type="submit"
            class="btn btn-primary"
            data-bs-dismiss="modal"
          >
            Invia
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
