<div class="container">
  <hr>
  <div class=" title d-flex align-items-center justify-content-center fs-5 fw-bold">
    <div class="d-flex align-items-center justify-content-center"></div>
    {{'Gestione delle classi' | uppercase}}
    <span class="icon"><i class="bi bi-person-vcard"></i>
    </span>
  </div>
  <hr>
  <div class="container d-flex justify-content-end mt-4">
    <div class="classes-header">
      <div class="input-container">
        <span>Cerca: </span>
        <input type="text" name="" id="" placeholder="Scrivi per cercare..." [(ngModel)]="searchTerm" (input)="onSearch()" />
        <i class="bi bi-search"></i>
      </div>
    </div>  
</div>
  

<table class="w-100 table mt-4">
  <thead class="text-center" >
    <tr class="fw-bold">
      <th>#</th>
      <th>Classe</th>
      <th>N° Studenti</th>
      <th>Azioni</th>
    </tr>
  </thead>
  <tbody *ngFor="let classroom of class; let i = index" >
    <tr> 
      <td scope="row">{{i + 1}}</td>    
      <td>{{classroom.name_classroom}}</td>
      <td>{{classroom.student_count}}</td>
      <td>       
        <button class="btn " value="dettagli"  [routerLink]="['/classes/', classroom.id_classroom]"><i class="bi bi-eye-fill"></i>Visualizza</button>
      </td>
    </tr>
  </tbody>
</table>

<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center mt-5">
    <li class="page-item">
      <a class="page-link text-black fw-bold" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link text-black" href="#">1</a></li>
    <li class="page-item"><a class="page-link text-black" href="#">2</a></li>
    <li class="page-item"><a class="page-link text-black" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link text-black fw-bold" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
  </nav>

 
</div>
