<div class="container mt-3">
  <hr> 
    <div class="d-flex align-items-center justify-content-center fs-5 fw-bold">
      {{'Lista Utenti' | uppercase}}
      <span class="icon">
        <i class="bi bi-card-list"></i>
      </span>
    </div>
  <hr>   
</div>

<div class="container mt-6 bb">
    <div class="col-md-2 mb-4 d-flex w-100 justify-content-center">
        <div class="dropdown d-flex flex-column w-100">
            <label for="role" class="form-label">Filtra per ruolo: </label>
            <button class="btn btn-outline-dark dropdown-toggle w-25" type="button" data-bs-toggle="dropdown" aria-expanded="false" title="role">
                {{ (this.role ? this.role : 'Utenti') | titlecase}}
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" role="button" value="utenti" (click)="[onClickRole('utenti'), getDataRole('Name', 'asc', '')]">Utenti</a></li>
                <li><a class="dropdown-item" role="button" value="studenti" (click)="[onClickRole('studenti'), getDataRole('Name', 'asc', 'Student')]">Studenti</a></li>
                <li><a class="dropdown-item" role="button" value="insegnanti" (click)="[onClickRole('insegnanti'), getDataRole('Name', 'asc', 'Teacher')]">Insegnanti</a></li>
            </ul>
        </div>
        <div class="container d-flex justify-content-end mt-5">
          <div class="classes-header">
            <div class="input-container">
              <span>Cerca: </span>
              <input type="text" name="" id="" placeholder="Scrivi per cercare..." />
              <i class="bi bi-search"></i>
            </div>
          </div>
          <div>
            <button class="btn btn-outline-dark mx-3">PDF</button>
          </div>
      </div>
    </div>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" id="name">Nome
          <i *ngIf="this.orders.name === 'desc'" class="bi bi-caret-down-fill" (click)="getData('Name', 'asc', 'name')"></i>
          <i *ngIf="this.orders.name === 'asc'" class="bi bi-caret-up-fill" (click)="getData('Name', 'desc', 'name')"></i>
        </th>
        <th scope="col" id="surname">Cognome
          <i *ngIf="this.orders.surname === 'asc'" class="bi bi-caret-up-fill" (click)="getData('Surname', 'desc', 'surname')"></i>
          <i *ngIf="this.orders.surname === 'desc'" class="bi bi-caret-down-fill" (click)="getData('Surname', 'asc', 'surname')"></i>
        </th>
        <th scope="col" id="birth">Data di nascita
          <i *ngIf="this.orders.birth === 'asc'" class="bi bi-caret-up-fill" (click)="getData('Birth', 'desc', 'birth')"></i>
          <i *ngIf="this.orders.birth === 'desc'" class="bi bi-caret-down-fill" (click)="getData('Birth', 'asc', 'birth')"></i>
        </th>
        <th scope="col">Azioni</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of users, let i = index">
      <tr>
        <th scope="row">{{i + 1}}</th>
        <td>{{user.name}}</td>
        <td>{{user.surname}}</td>
        <td>{{user.birth}}</td>
        
            <div class="dropdown d-flex">
              <i class="bi bi-gear-fill" data-bs-toggle="dropdown" aria-expanded="false" type="button"></i>  
              <div class="dropdown-toggle ps-3" data-bs-toggle="dropdown" aria-expanded="false"></div>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" value="dettagli" (click)="onClickAction('dettagli')" [routerLink]="['/details']"><i class="bi bi-eye-fill px-2"></i>Dettagli</a></li>
                    <li><a class="dropdown-item" value="modifica" (click)="onClickAction('modifica')" [routerLink]="['/edit']"><i class="bi bi-pencil-square px-2"></i>Modifica</a></li>
                    <li><a role="button" class="dropdown-item" value="elimina" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="onClickAction('elimina')"><i class="bi bi-trash3-fill px-2"></i>Elimina</a></li>
                </ul>
            </div>
      </tr>
    </tbody>
  </table>

  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteModalLabel">CONFERMA ELIMINAZIONE</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Sei sicuro di voler eliminare questo utente?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Chiudi</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ELIMINA</button>
        </div>
      </div>
    </div>
  </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>