<div class="d-flex justify-content-center align-items-center vh-100 bg-success">
  <div class="p-5 divLogin border border-3 border-dark rounded-4">
    <div class="d-flex flex-column justify-content-center align-items-center pb-3">
      <img class="w-100 rounded-3 m-5" style="max-width: 100px;" src="/assets/login/logoScuola.png" alt="">
      <h5>Nome della scuola</h5>
      <small>Inserisci le tue credenziali</small>
    </div>
    <form [formGroup]="loginForm" class="d-flex flex-column justify-content-center">
      <div class="mb-3">
        <input type="username" class="form-control border border-2 border-dark" formControlName="username" id="exampleInputEmail1"
          aria-describedby="emailHelp" placeholder="Insert username or Email" required>
          <small class="text-danger" *ngIf="showInvalidInput && !loginForm.get('username'||'email')?.valid">Campo obbligatorio</small>
          <small class="text-danger" *ngIf="response === false">Username o email errato</small>
      </div>
      <div class="mb-3">
        <input type="password" class="form-control border border-2 border-dark" formControlName="password" id="exampleInputPassword1"
          placeholder="Insert password" required>
          <small class="text-danger" *ngIf="showInvalidInput && !loginForm.get('password')?.valid">Campo obbligatorio</small>
      </div>
      <div class="mb-3 form-check row">
        <div class="col-6">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Ricordami</label>
        </div>
        <div class="col-6">
          <a>Hai dimenticato la password?</a>
        </div>
      </div>
    </form>
    <button (click)="[login(), showInvalidInput = true]" type="submit" class="btn btn-primary w-100">Accedi</button>
  </div>
</div>