.navbar-toggler{
    margin-left: 20% !important;
}

.container-left {
    width: 30%;
}

.nav-dropdown{
    color: white !important;
}

.btn, .btn:hover, .btn:active, .btn:focus {
    border: none !important;
    box-shadow: none !important;
}