.navbar-toggler{
    margin-left: 20% !important;
}

.container-left {
    width: 30%;
}

.nav-dropdown {
    color: white !important;
}

.btn, .btn:hover, .btn:active, .btn:focus {
    border: none !important;
    box-shadow: none !important;
}

.profile-img {
    font-size: 30px;
}

.--bs-border-width{
    border: 0px !important;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

