<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid wrapper">
  
      <div class="container-left d-flex flex-row">
  
        <h4 class="text-white">CJ INSPIRED ACADEMY</h4>
        <button (click)="handleSidebarToggle()" class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
      </div>
  
      <div class="container-right d-flex flex-row">
        <img style="width: 38px; height:38px;" class="rounded-circle" alt="photo">
  
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle bg-transparent b-0" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Dropdown button
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  