<div class="sidebar vh-100" [ngClass]="{ 'expanded': isExpanded }">
  <div class="content alt vh-100" [ngClass]="{ 'expanded': isExpanded }">
    <div [routerLink]="['/dashboard']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="link"
      class="link">
      <div class="content">
        <div class="icon">
          <i class="bi bi-house"></i>
          <!--dashboard-->
        </div>
        <div class="title">Dashboard</div>
        <i class="invisible" *ngIf="isExpanded"
          [ngClass]="isCollapsed ? 'bi bi-chevron-right' : 'bi bi-chevron-down'"></i>
      </div>
    </div>

    <!--students-->
    <!-- <div [routerLink]="['/students']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  class="link">
      <div class="content">
        <div class="icon">
          <i class="bi bi-person-lines-fill"></i> 
        </div>
        <div class="title">Students</div>
      </div>
    </div> -->

    <div (click)="toggleCollapse()" class="link">
      <div class="content">
        <div class="icon">
          <i class="bi bi-person"></i>
        </div>
        <div class="title">Utenti</div>
        <i *ngIf="isExpanded" [ngClass]="!isCollapsed ? 'bi bi-chevron-right' : 'bi bi-chevron-down'"></i>
      </div>
    </div>

    <div *ngIf="isExpanded" [ngClass]="{'collapse-content': !isCollapsed}" [ngClass]="{ 'expanded': isExpanded }"
      class="custom-collapse collapse-content">
      <div [routerLink]="['/add-user']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="link">
        <p>Crea Utenti</p>
      </div>
      <div [routerLink]="['/list-users']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        class="link" class="link">
        <p>Gestisci Utenti</p>
      </div>
    </div>

    <div [routerLink]="[isTeacher ? linkByRole + '/classes/' : linkByRole + '/classes/'+ userId.classroomId]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="link">
      <div class="content">
        <div class="icon">
          <i class="bi bi-newspaper"></i>
          <!--classes-->
        </div>
        <div class="title">Classi</div>
        <i class="invisible" *ngIf="isExpanded"
          [ngClass]="isCollapsed ? 'bi bi-chevron-right' : 'bi bi-chevron-down'"></i>
      </div>
    </div>

    <div [routerLink]="[linkByRole + '/subjects']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="link">
      <div class="content">
        <div class="icon">
          <i class="bi bi-journals"></i>
          <!--subjects-->
        </div>
        <div class="title">Materie</div>
        <i class="invisible" *ngIf="isExpanded"
          [ngClass]="isCollapsed ? 'bi bi-chevron-right' : 'bi bi-chevron-down'"></i>
      </div>
    </div>
    
    <div [routerLink]="[linkByRole + '/exams']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="link">
      <div class="content">
        <div class="icon">
          <i class="bi bi-book-fill"></i>
          <!--exams-->
        </div>
        <div class="title">Esami</div>
        <i class="invisible" *ngIf="isExpanded"
          [ngClass]="isCollapsed ? 'bi bi-chevron-right' : 'bi bi-chevron-down'"></i>
      </div>
    </div>
  </div>
  <div class="footer"></div>
</div>