<div  class="container-fluid py-3 bg-light">
  
  <div class="row">
    <div class="col-md-3">
      <div class="card card-body bg-success mb-2">
        <div class="row justify-content-between">
          <div class="col-10">
            <h3 class="mb-0 text-white">{{count.Users}}</h3>
            <span class="text-uppercase text-white">Utenti</span>
          </div>
          <div class="col-2 align-self-center p-0">
            <i class="bi bi-person-gear text-white fs-1 w-100"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div  class="card card-body bg-danger mb-2">
        <div class="row">
          <div class="col-10">
            <h3 class="mb-0 text-white">{{count.Classrooms}}</h3>
            <span class="text-uppercase text-white">Classi</span>
          </div>
          <div class="col-2 align-self-center p-0">
            <i class="bi bi-people-fill text-white fs-1 w-100"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-body bg-warning mb-2">
        <div class="row">
          <div class="col-10">
            <h3 class="mb-0 text-white">{{count.Students}}</h3>
            <span class="text-uppercase text-white">Studenti</span>
          </div>
          <div class="col-2 align-self-center p-0">
            <i class="bi bi-person-square text-white fs-1 w-100"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-body bg-info mb-2">
        <div class="row">
          <div class="col-10">
            <h3 class="mb-0 text-white">{{count.Teachers}}</h3>
            <span class="text-uppercase text-white">Insegnanti</span>
          </div>
          <div class="col-2 align-self-center p-0">
            <i class="bi bi-person-video3 text-white fs-1 w-100"></i>
          </div>
        </div>
      </div>
    </div>
    <hr>

  </div>
  <div class="row">
    <div class="col-md-6">
      <div style="margin-top: 20px;" class="card card-left">
        <h5 class="card-header">Bacheca</h5>
        <div style="display: flex; flex-direction: column;" class="card-body">
          <div *ngFor="let pdf of pdfs"  style="margin-bottom: 15px;" class="card">
            <div style="background-color: #ffd45f; " class="card-body">
              <h6 class=" text-uppercase card-title">{{pdf.title}} <p style="text-align: end;"><img style="width: 50px;" class="" [src]="pdf.img"  alt="logo" ></p></h6>
              <p style="margin-top: 0; margin-bottom: 0;" class="">{{pdf.data}}</p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div [ngClass]="{'card-left' : isTeacher, 'card-right-esami' : !isTeacher}" style="margin-top: 20px;" class="card card-right-esami">
        <h5 class="card-header">Prossimi Esami</h5>
        <div style=" display: flex; flex-direction: column" class="card-body card-body-bacheca">
          <div *ngFor="let card of cards" style="margin-bottom: 15px;" class="card">
            <div style="background-color: #ffd45f;" class="card-body">
              <h6 class=" text-uppercase card-title">{{card.title}}</h6>
              <p class="card-text">{{card.text + ' - ' + card.date}}</p>
              <hr>
              <p style="text-align: end;" class=" card-text">{{isTeacher ? 'Classe ' + card.classroom : 'Prof. ' + card.teacher}}</p> 
            </div>    
          </div>
          <button [routerLink]="['/students/exams']" style="display: flex; align-items: center; justify-content: center;" class=" text-center btn card-header">Vai ai prossimi esami<i style="font-size: 11px; width: 20px; height: 13px;" class="bi bi-chevron-double-right"></i></button>         
        </div>
      </div>
    
      <div *ngIf="!isTeacher" class="col-md-12">
        <div style="margin-top: 20px;" class="card card-right-pagella">
          <h5 class="card-header">Pagella</h5>
          <div class="card-body">
            <div  style="margin-bottom: 15px;" class="card">
              <div style="background-color: #ffd45f;" class="card-body">
                <h6 class=" text-uppercase card-title">{{pagella.title}}</h6>       
              </div>
            </div>
          </div>
        </div>    
      </div>     
    </div>
  </div>



<!-- 
  <div class=" card card-circolari mt-5">
    <h4 class="card-header">CIRCOLARI SCOLASTICHE</h4>
    <div class="row">
    <div  *ngFor="let pdf of pdfs" class=" ">
      <div  class="bg-white ">
        <img style="width: 70px;" class="py-4" [src]="pdf.img" alt="logo" />
      </div>
      <div class="bg-secondary bg-opacity-25">
        <div class="px-3">
          <div class="d-flex py-2">
            <h5 *ngIf="pdf.title.length < 17; else longPdfname" class="m-0 pdfText">{{pdfs}}</h5>
            <ng-template #longPdfname>
              <h5 class="m-0 pdfText">{{pdf.title.slice(0, 18)}}...</h5>
            </ng-template>
          </div>
          <div class="d-flex justify-content-between py-2"> 
            <small class="m-0">Utente</small>
            <small class="m-0">{{pdf.data}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

</div>