<div class="container-fluid py-3 bg-light">
  <div class="row">
    <div class="col-md-6">
      <div class="card card-body bg-success mb-2">
        <div class="row justify-content-between">
          <div class="col-10">
            <h3 *ngIf="isTeacher" class="mb-0 text-white">{{count.Users}}</h3>
            <h4 class="text-uppercase text-white">{{isTeacher ? 'Materie' : 'Prossimi Esami'}}</h4>
          </div>
          <div class="col-2 align-self-center p-0">
            <i class="bi bi-person-gear text-white fs-1 w-100"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-body bg-info mb-2">
        <div class="row">
          <div class="col-10">
            <h3 *ngIf="isTeacher" class="mb-0 text-white">{{count.Classrooms}}</h3>
            <h4 class="text-uppercase text-white">{{isTeacher ? 'Classi' : 'Pagella'}}</h4>
          </div>
          <div class="col-2 align-self-center p-0">
            <i class="bi bi-people-fill text-white fs-1 w-100"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-3">
      <div class="card card-body bg-success mb-2">
        <div class="row">
          <div class="col-10">
            <h3 class="mb-0 text-white">{{count.Students}}</h3>
            <span class="text-uppercase text-white">Studenti</span>
          </div>
          <div class="col-2 align-self-center p-0">
            <i class="bi bi-person-square text-white fs-1 w-100"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-body bg-info mb-2">
        <div class="row">
          <div class="col-10">
            <h3 class="mb-0 text-white">{{count.Teachers}}</h3>
            <span class="text-uppercase text-white">Insegnanti</span>
          </div>
          <div class="col-2 align-self-center p-0">
            <i class="bi bi-person-video3 text-white fs-1 w-100"></i>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <div class="row py-5">
    <h4>CIRCOLARI SCOLASTICHE</h4>
    <div *ngFor="let pdf of pdfs" class="col-2 py-2">
      <div class="bg-white d-flex justify-content-center align-items-center">
        <img class="w-50 py-4" [src]="pdf.img" alt="logo" />
      </div>
      <div class="bg-secondary bg-opacity-25">
        <div class="px-3">
          <div class="d-flex py-2">
            <h5 *ngIf="pdf.title.length < 17; else longPdfname" class="m-0 pdfText">{{pdfs}}</h5>
            <ng-template #longPdfname>
              <h5 class="m-0 pdfText">{{pdf.title.slice(0, 18)}}...</h5>
            </ng-template>
          </div>
          <div class="d-flex justify-content-between py-2">
            <!-- <small class="m-0">Utente</small> -->
            <small class="m-0">{{pdf.data}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>