<div class="container mt-4 bb">
  <div class="d-flex justify-content-center align-items-center w-100 flex-column">
      <span class="icon-data">
          <i class="bi bi-eye-fill eye-icon"></i>
      </span>
      <p class="text-personal-data mt-3">DETTAGLI UTENTE</p>
      
  </div>
    <div class="card-body mt-3 text-center" >
      <p class="card-title">Mi presento</p>
      <p class="card-text">Sono</p>
      <p class="card-text">Mirko</p>
      <p class="card-text">chi sono?</p>
      <div class="button">
      </div>
      <a class="btn btn-outline-secondary" [routerLink]="['/list-users']">TORNA ALLA LISTA UTENTI</a>
    </div>
  </div>
  