.icon-data {
    border: 0.125rem solid;
    border-radius: 3.125rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#ffc107;
}

.eye-icon {
    font-size: 2rem;
    color: black;
}

.icon-default {
    width: 5rem;
    
}

.icon-default-frame {
    border: 0.125rem solid;
    border-radius: 5rem;
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#ffc107;
}

.btn-outline-warning {
    color: black;
}