 <div class="container bb">
  <div class="d-flex justify-content-center align-items-center w-100 flex-column">
    <div class="container mt-5">
        <div class="d-flex align-items-center justify-content-center fs-5 fw-bold">
          {{'Lista Utenti' | uppercase}}
          <span class="icon">
            <i class="bi bi-eye-fill eye-icon"></i>
          </span>
        </div> 
    </div>

    <div class="d-flex w-100">
      <div class="button m-3 d-flex w-100 justify-content-start">
        <a class="btn btn-warning" [routerLink]="['/list-users']"><i class="bi bi-caret-left-fill"></i>LISTA UTENTI</a>
      </div>
      <div class="button m-3 d-flex w-100 justify-content-end">
        <a class="btn btn-warning" [routerLink]="['/add-user/' + this.id]"><i class="bi bi-pencil-square px-2"></i>MODIFICA UTENTE</a>
      </div>
    </div>

  <div class="card mb-5" style="width: 40rem;">
    <div class="d-flex justify-content-center w-100 p-5">
      <div class="icon-default-frame d-flex justify-content-center">
        <img src="./../../../../../assets/users/icon-profile-default.png" class="icon-default card-img-top">
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <div class="row m-0">
        <li class="list-group-item d-flex justify-content-evenly pb-3 col-6 fw-medium">Nome: <span class="fw-light">{{this.details.name}}</span></li>
        <li class="list-group-item d-flex justify-content-evenly pb-3 col-6 fw-medium">Cognome: <span class="fw-light">{{this.details.surname}}</span></li>
        <li class="list-group-item d-flex justify-content-evenly pb-3 col-6 fw-medium">Ruolo: <span class="fw-light">{{this.details.role}}</span></li>
        <li class="list-group-item d-flex justify-content-evenly pb-3 col-6 fw-medium">Genere: <span class="fw-light">{{this.details.gender}}</span></li>
        <li class="list-group-item d-flex justify-content-evenly pb-3 col-6 fw-medium">Data di Nascita: <span class="fw-light">{{this.details.birth}}</span></li>
        <li class="list-group-item d-flex justify-content-evenly pb-3 col-6 fw-medium">Email: <span class="fw-light">{{this.details.email}}</span></li>
        <li class="list-group-item d-flex justify-content-evenly pb-3 col-6 fw-medium">Telefono: <span class="fw-light">{{this.details.telephone}}</span></li>
        <li class="list-group-item d-flex justify-content-evenly pb-3 col-6 fw-medium ">Indirizzo: <span class="fw-light">{{this.details.address}}</span></li>
      </div>
    </ul>
  </div>
  