<div class="container mt-4 bb">
  <div class="d-flex justify-content-center align-items-center w-100 flex-column">
      <span class="icon-data">
          <i class="bi bi-eye-fill eye-icon"></i>
      </span>
      <p class="text-personal-data mt-3 fw-bold">DETTAGLI UTENTE</p>
    <div class="d-flex w-100">
      <div class="button m-4 d-flex w-100 justify-content-start">
        <a class="btn btn-warning" [routerLink]="['/list-users']"><i class="bi bi-caret-left-fill"></i>LISTA UTENTI</a>
      </div>
      <div class="button m-4 d-flex w-100 justify-content-end">
        <a class="btn btn-warning" [routerLink]="['/edit-user']"><i class="bi bi-pencil-square px-2"></i>MODIFICA UTENTE</a>
      </div>
    </div>

  <div class="card mb-5" style="width: 40rem;">
    <div class="d-flex justify-content-center w-100 p-5">
      <div class="icon-default-frame d-flex justify-content-center">
        <img src="./../../../../../assets/users/icon-profile-default.png" class="icon-default card-img-top">
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <div class="row m-0">
        <li class="list-group-item d-flex justify-content-evenly pb-3 col-6">Nome: <span class="">{{this.details.teacher}}</span></li>
        <li class="list-group-item d-flex justify-content-evenly pb-3 col-6">Cognome: <span>{{this.details.surname}}</span></li>
        <li class="list-group-item d-flex justify-content-evenly pb-3 col-6">Ruolo: <span>Value</span></li>
        <li class="list-group-item d-flex justify-content-evenly pb-3 col-6">Genere: <span>{{this.details.gender}}</span></li>
        <li class="list-group-item d-flex justify-content-evenly pb-3 col-6">Data di Nascita: <span>{{this.details.birth}}</span></li>
        <li class="list-group-item d-flex justify-content-evenly pb-3 col-6">Email: <span>{{this.details.email}}</span></li>
        <li class="list-group-item d-flex justify-content-evenly pb-3 col-6">Telefono: <span>{{this.details.telephone}}</span></li>
        <li class="list-group-item d-flex justify-content-evenly pb-3 col-6">Indirizzo: <span>{{this.details.address}}</span></li>
      </div>
    </ul>
  </div>
  