<!-- <div class="container mt-3">
    <hr>
    <div class="d-flex justify-content-center align-items-center fw-bold fs-5">
        <span>LISTA ESAMI</span>
        <span class="icon-data">
            <i class="bi bi-card-list list-icon"></i>
        </span>
    </div>
    <hr>
</div>
<div class="container mt-6 bb">
    <div class="d-flex justify-content-center align-items-center w-100 flex-column">
    </div>
    <div class="col-md-2 mb-3 d-flex w-100 justify-content-center">
        <div class="d-flex">
            <form [formGroup]="formSubjects" class="px-2">
                <select class="btn btn-warning" formControlName="subjects"
                    (click)="[onClickFilter = true, dropdownFilter()]">
                    <option selected value="">Tutte le materie</option>
                    <option *ngFor="let subject of subjects">{{subject.subjectName}}</option>
                </select>
            </form>
            <form [formGroup]="formClassrooms" class="px-2">
                <select class="btn btn-warning" formControlName="classrooms"
                    (click)="[onClickFilter = false, dropdownFilter()]">
                    <option selected value="">Tutte le classi</option>
                    <option *ngFor="let classroom of classrooms">{{classroom.name_classroom}}</option>
                </select>
            </form>
        </div>
    </div>
    <table class="table table-hover">
        <thead class="text-center">
            <tr>
                <th scope="col">#</th>
                <th scope="col" id="date">Data
                    <!-- <i *ngIf="this.orders.name === 'desc'" class="bi bi-caret-down-fill"
                        (click)="getData('Name', 'asc', 'name')"></i>
                    <i *ngIf="this.orders.name === 'asc'" class="bi bi-caret-up-fill"
                        (click)="getData('Name', 'desc', 'name')"></i> -->
                </th>
                <th scope="col" id="matter">Materia
                    <!-- <i *ngIf="this.orders.surname === 'asc'" class="bi bi-caret-up-fill"
                        (click)="getData('Surname', 'desc', 'surname')"></i>
                    <i *ngIf="this.orders.surname === 'desc'" class="bi bi-caret-down-fill"
                        (click)="getData('Surname', 'asc', 'surname')"></i> -->
                </th>
                <th scope="col" id="birth">Classe
                    <!-- <i *ngIf="this.orders.birth === 'asc'" class="bi bi-caret-up-fill"
                        (click)="getData('Birth', 'desc', 'birth')"></i>
                    <i *ngIf="this.orders.birth === 'desc'" class="bi bi-caret-down-fill"
                        (click)="getData('Birth', 'asc', 'birth')"></i> -->
                </th>
                <th scope="col">Azioni</th>
            </tr>
        </thead>
        <tbody *ngFor="let exam of examsList, let i = index">
            <tr *ngIf="(!classroom || exam.classroom === classroom) && (!subject || exam.subject === subject)">
                <th scope="row">{{i + 1}}</th>
                <td>{{exam.examDate}}</td>
                <td>{{exam.subject}}</td>
                <td>{{exam.classroom}}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="bi bi-gear-fill"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" [routerLink]="'/details/'"><i
                                        class="bi bi-eye-fill px-2"></i>Visualizza</a></li>
                            <li><a class="dropdown-item" [routerLink]="'/esami/'"><i
                                        class="bi bi-book-fill px-2"></i>Vai a Esami</a></li>
                            <li><a style="cursor: pointer" class="dropdown-item" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal"><i class="bi bi-trash3-fill px-2"></i>Elimina</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">CONFERMA ELIMINAZIONE</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Sei sicuro di voler eliminare questo esame?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Chiudi</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ELIMINA</button>
                </div>
            </div>
        </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li *ngIf="page > 1" class="page-item"><a class="page-link" (click)="onChangePage(page - 1)">{{ page -1
                    }}</a></li>
            <li class="page-item"><a class="page-link">{{ page }}</a></li>
            <li *ngIf="page < total / itemsPerPage" class="page-item"><a class="page-link"
                    (click)="onChangePage(page + 1)"> {{ page + 1 }} </a></li>
            <li class="page-item">
                <a class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav> -->