<div class="container mt-3">
    <hr>
    <div class="d-flex justify-content-center align-items-center fw-bold fs-5">
        <span>LISTA ESAMI</span>
        <span class="icon-data">
            <i class="bi bi-card-list list-icon"></i>
        </span>
    </div>
    <hr>
</div>
<div class="container mt-6 bb">
    <div class="d-flex justify-content-center align-items-center w-100 flex-column">
    </div>
    <div class="col-md-2 mb-3 d-flex w-100 justify-content-center">
        <div class="d-flex">
            <form [formGroup]="formSubjects" class="px-2">
                <!-- <small for="Materie" class="smallForm">Materie</small> -->
                <select class="btn btn-warning" formControlName="subjects"
                    (click)="[onClickFilter = true, dropdownFilter()]">
                    <option *ngFor="let subject of subjects">{{this.subject}}</option>
                </select>
            </form>
            <form [formGroup]="formClassrooms" class="px-2">
                <!-- <small for="Classi" class="smallForm">Classi</small> -->
                <select class="btn btn-warning" formControlName="classrooms"
                    (click)="[onClickFilter = false, dropdownFilter()]">
                    <option *ngFor="let classroom of classrooms">{{this.classroom}}</option>
                </select>
            </form>
        </div>
    </div>
    <table class="table table-hover">
        <thead class="text-center">
            <tr>
                <th scope="col">#</th>
                <th scope="col" id="date">Data
                    <!-- <i *ngIf="this.orders.name === 'desc'" class="bi bi-caret-down-fill"
                        (click)="getData('Name', 'asc', 'name')"></i>
                    <i *ngIf="this.orders.name === 'asc'" class="bi bi-caret-up-fill"
                        (click)="getData('Name', 'desc', 'name')"></i> -->
                </th>
                <th scope="col" id="matter">Materia
                    <!-- <i *ngIf="this.orders.surname === 'asc'" class="bi bi-caret-up-fill"
                        (click)="getData('Surname', 'desc', 'surname')"></i>
                    <i *ngIf="this.orders.surname === 'desc'" class="bi bi-caret-down-fill"
                        (click)="getData('Surname', 'asc', 'surname')"></i> -->
                </th>
                <th scope="col" id="birth">Classe
                    <!-- <i *ngIf="this.orders.birth === 'asc'" class="bi bi-caret-up-fill"
                        (click)="getData('Birth', 'desc', 'birth')"></i>
                    <i *ngIf="this.orders.birth === 'desc'" class="bi bi-caret-down-fill"
                        (click)="getData('Birth', 'asc', 'birth')"></i> -->
                </th>
                <th scope="col">Azioni</th>
            </tr>
        </thead>
        <tbody *ngFor="let exam of examsList, let i = index">
            <tr *ngIf="(!classroom || exam.classroom === classroom) && (!subject || exam.subject === subject)">
                <th scope="row">{{i + 1}}</th>
                <td>{{exam.examDate}}</td>
                <td>{{exam.subject}}</td>
                <td>{{exam.classroom}}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="bi bi-gear-fill"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" [routerLink]="'/details/'"><i
                                        class="bi bi-eye-fill px-2"></i>Visualizza</a></li>
                            <li><a class="dropdown-item" [routerLink]="'/esami/'"><i
                                        class="bi bi-book-fill px-2"></i>Vai a Esami</a></li>
                            <li><a style="cursor: pointer" class="dropdown-item" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal"><i class="bi bi-trash3-fill px-2"></i>Elimina</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- <div class="dropdown d-flex w-100">
            <div class="d-flex flex-column">
                <button class="btn btn-warning w-100 p-2 my-3" (click)="filterSwitch()">{{switchText}}</button>
                <label for="classroom" class="form-label">Filtra per: </label>
                <ng-container *ngIf="!onClickFilter">
                    <button class="btn btn-outline-dark dropdown-toggle w-100" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false" title="subject">
                        {{ this.subject ? this.subject : 'Tutte le materie' }}
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" role="button" value="classroom">Tutte le materie</a></li>
                        <li *ngFor="let subject of subjects">
                            <a class="dropdown-item" (click)="dropdownFilter(subject)" role="button"
                                value="subject">{{this.subject}}</a>
                        </li>
                    </ul>
                </ng-container>
                <ng-container *ngIf="onClickFilter">
                    <button class="btn btn-outline-dark dropdown-toggle w-100" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false" title="classroom">
                        {{ this.classroom ? this.classroom : 'Tutte le classi' }}
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" role="button" value="classroom">Tutte le classi</a></li>
                        <li *ngFor="let classroom of classrooms">
                            <a class="dropdown-item" (click)="dropdownFilter(classroom)" role="button"
                                value="classroom">{{this.classroom}}</a>
                        </li>
                    </ul>
                </ng-container>
            </div> -->
    <!-- <div class="d-flex flex-column pe-2">
                <label for="classroom" class="form-label">Filtra per classe: </label>
                <button class="btn btn-outline-dark dropdown-toggle w-100" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false" title="classroom">
                    {{ this.classroom ? this.classroom : 'Tutte le classi' }}
                </button>
                <ul *ngFor="let classroom of classrooms" class="dropdown-menu">
                    <li><a class="dropdown-item" role="button" value="classroomm">Tutte le classi</a></li>
                    <li>
                        <a class="dropdown-item" (click)="[onClickClassroom = true, dropdownFilter(classroom)]" role="button" value="classroom">{{this.classroom}}</a>
                    </li>
                </ul>
            </div>
            <div class="d-flex flex-column ps-2">
                <label for="subject" class="form-label">Filtra per materia: </label>
                <button class="btn btn-outline-dark dropdown-toggle w-100" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false" title="subject">
                    {{ this.subject ? this.subject : 'Tutte le materie' }}
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" role="button" value="subject">Tutte le materie</a></li>
                    <li *ngFor="let subject of subjects, let i = index">
                        <a class="dropdown-item" (click)="[onClickSubject = true, dropdownFilter(subject) ]" role="button" value="subject">{{
                            this.subject }}</a>
                    </li>
                </ul>
            </div> 
        </div> -->
    <!-- <div class="d-flex w-100 justify-content-center align-items-center mt-4">
            <div class="d-flex align-items-center">
                <input type="text" name="search" id="search" placeholder="Cerca">
                <i class="bi bi-search"></i>
            </div>
            <div>
                <button class="btn btn-outline-dark mx-3">PDF</button>
            </div>
        </div> -->




    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">CONFERMA ELIMINAZIONE</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Sei sicuro di voler eliminare questo esame?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Chiudi</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ELIMINA</button>
                </div>
            </div>
        </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>